[alias]
	com = commit
	co  = checkout
	br  = branch
	st  = status
	rb  = rebase
	l   = "log --graph --pretty=format:'%C(yellow)%h%Creset -%C(red)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit"
[core]
	editor = /usr/bin/vim
[push]
	default = simple
[include]
  path = ~/.gitconfig.self
[color]
  ui = true
[fetch]
  prune = true
